.subTitle {
  color: #fdcb6e;
  margin-left: 2rem;
}

.text {
  color: white;
  margin-left: 3rem;
}

.square {
  height: 10rem;
  width: 10rem;
  background-color: grey;
}

.constraint {
  width: 95vw;
}

.team {
  height: 80vh;
}

.teamText {
  color: white;
}
